SUPABASE_URL=https://jzcaiqpxfxkkrpizavpr.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp6Y2FpcXB4Znhra3JwaXphdnByIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk3NDU0OTAsImV4cCI6MjA4NTMyMTQ5MH0.Zer0wKVtbyamM8O7SxIY99k6v6xgg0Fwr2vlKVoJS8I